#landing {
  height: 100vh;
  background-color: $mantle;
  margin: 0;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

#landing-bottom {
  height: 0;
  padding: 0;
  margin: 0;
  background-color: $mantle;
}

@mixin landing-mobile {

}
