#landing {
  height: 100vh;
  background-color: $mantle;
  margin: 0;
  width: 100%;

  display: flex;
  flex-direction: column;

  .taskbar {
    width: 100%;
    height: 4vh;
    line-height: 4vh;
    font-size: 1.6vh;
    font-weight: bold;

    > div {
      margin-inline: 1vh;
    }

    color: $subtext0;
    background-color: $crust;
    display: flex;
  }

  .appname {
    height: 4vh;
    line-height: 4vh;
    font-size: 1.6vh;
    font-weight: bold;
  }

  .sep {
    flex-grow: 1;
  }

  .content {
    flex-grow: 1;
  }

  .dock {
    position: sticky;
    bottom: 3vh;
    margin: 2vh auto;
    background-color: $crust;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 2vh;
    display: flex;
    padding: 0.5vh 0.25vh;
    transition-duration: 0.2s;

    * {
      text-decoration: none;
      transition-duration: 0.2s;
      color: $text;
      font-size: 3vh;
    }

    .hint {
      position: absolute;
      width: 200%;
      left: -50%;
      text-align: center;
      top: -30%;

      span {
				color: transparent;
        padding: 0.25vh 0.5vh;
        border-radius: 0.5vh;
        background-color: transparent;
      }
    }

    > div {
      position: relative;
      padding: 1vh;
      border-radius: 1.75vh;

      span {
        font-size: 1.5vh;
        margin: auto;
      }

      &:hover {
        background-color: $surface1;

        .hint {
          top: -60%;

          span {
						color: $text;
            background-color: $crust;
          }
        }
      }
    }

    &[data-hide="true"] {
      transform: translateY(10vh);
      background-color: transparent;
      color: transparent;
      box-shadow: none;
      * {
        background-color: transparent;
        color: transparent;
      }
    }
  }
}

#landing-date {
  border-radius: 2vh;
}

#theme-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    z-index: 1;
    text-transform: capitalize;

    .panel {
      padding: 6px 6px;
      border-radius: 15px;
      background-color: $surface0;
      margin-top: 0.3vh;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

      > div {
        padding: 0px 6px;
        border-radius: 12px;
        cursor: pointer;
        margin: 3px;

        &[data-selected="true"],
        &:hover {
          background-color: $surface1;
        }
      }
    }
  }

  &:hover {
    span {
      background-color: $surface0;
    }
    .dropdown-content {
      display: block;
    }
  }

  > span {
    padding-inline: calc(1.75vh / 2);
    border-radius: 1.75vh;
    line-height: 3.5vh;
    margin-top: 0.25vh;
    font-size: 2vh;
    font-weight: bold;
  }
}

#landing-bottom {
  height: 0;
  padding: 0;
  margin: 0;
  background-color: $mantle;
}

@mixin landing-mobile {
}
