#landing {
  height: 100vh;
  background-color: $mantle;
  margin: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .taskbar {
    width: 100%;
    height: 4vh;
    line-height: 4vh;
    font-size: 1.6vh;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    > div {
      margin-inline: 1vh;
    }

    color: $subtext0;
    background-color: $crust;
    display: flex;
  }

  .appname {
    height: 4vh;
    line-height: 4vh;
    font-size: 1.6vh;
    font-weight: bold;
  }

  .sep {
    flex-grow: 1;
  }

  .desktop {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .window {
    max-width: 100vh;
    background-color: $surface0;
    color: $text;
    font-size: 2vh;
    width: 75%;
    border-radius: 1vw;
    box-shadow: 0px 0px 5vw rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
  }

  .menu-bar {
    width: 100%;
    height: 5%;
    font-weight: bold;
    font-size: 1.5vh;
    border-top-left-radius: 0.9vw;
    border-top-right-radius: 0.9vw;
    background-color: $base;
    display: flex;
    align-items: center;

    > * {
      margin-left: 1vw;
      margin-right: 1vw;
      width: fit-content;
    }

    .options {
      display: flex;
      align-items: center;
      > * {
        font-size: 100%;
        margin-right: 10%;
      }
    }
  }

  .window-content {
    flex-grow: 1;
    margin: 1%;
    font-size: 80%;
    font-weight: bold;
  }

  .response {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    flex-direction: row;

    hr {
      color: $text;
    }

    img {
      width: 20vw;
      height: 20vw;
      object-fit: cover;
      border-radius: 50%;
    }

    > div {
      margin-left: 1vw;
      height: 100%;

      > div {
        color: $green;
        > span:not(:first-child) {
          font-weight: normal;
          color: $text;
        }
      }
    }
  }

  .dock {
    position: sticky;
    bottom: 3vh;
    margin: 2vh auto;
    background-color: $base;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 2vh;
    display: flex;
    padding: 0.5vh 0.25vh;
		transition: background-color 0.2s, color 0.2s, transform 0.2s;


    * {
			transition: color 0.2s, top 0.2s, background-color 0.2s;
      text-decoration: none;
      color: $text;
      font-size: 3vh;
    }

    .hint {
      position: absolute;
      width: 100%;
      left: 0%;
      text-align: center;
      top: -30%;
      height: 300%;
      display: flex;
      justify-content: center;

      div {
        position: relative;
        width: calc(fit-content / 2);
      }

      span {
        color: transparent;
        padding: 0.25vh 0.5vh;
        border-radius: 1vh;
        font-weight: bold;
        background-color: transparent;
      }
    }

    > div {
      position: relative;
      padding: 1vh;
      cursor: pointer;
      margin-inline: 0.5vw;
      padding-bottom: 0;
      border-radius: 1.75vh;

      span {
        position: relative;
        font-size: 1.5vh;
      }

      &:hover {
        background-color: $surface1;

        .hint {
          top: -100%;

          span {
            color: $text;
            background-color: $surface0;
          }
        }
      }
    }

    &[data-hide="true"] {
      transform: translateY(10vh);
      background-color: transparent;
      color: transparent;
      box-shadow: none;
      * {
        background-color: transparent !important;
        color: transparent !important;
        box-shadow: none !important;
        cursor: unset;
      }
    }
  }
}

#landing-date {
  border-radius: 2vh;
}

#theme-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: 1;
    text-transform: capitalize;

    .panel {
      padding: 6px 6px;
      border-radius: 15px;
      background-color: $surface0;
      margin-top: 0.3vh;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

      > div {
        padding: 0px 6px;
        border-radius: 12px;
        cursor: pointer;
        margin: 3px;

        &[data-selected="true"],
        &:hover {
          background-color: $surface1;
        }
      }
    }
  }

  &:hover {
    span {
      background-color: $surface1;
    }
    .dropdown-content {
      display: block;
    }
  }

  > span {
    padding-inline: calc(1.75vh / 2);
    border-radius: 1.75vh;
    line-height: 3.5vh;
    margin-top: 0.25vh;
    font-size: 2vh;
    font-weight: bold;
  }
}

@mixin landing-mobile {
  #landing {
    .window {
      max-width: unset;
      width: 100%;
      border-radius: none;
    }

    .response {
      flex-direction: column;

      img {
        width: 50vw;
        height: 50vw;
      }
    }
  }
}
