#projects {
	.window {
		width: 80%;
		max-width: 1250px;
		margin: 5vh auto;
		background-color: $surface0;
		height: 100vh;
		border-radius: 2vh;
	}

	.header {
		position: sticky;
		height: fit-content;
		background-color: $surface1;
	}
}

@mixin projects-mobile {

}
