@import "theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fira+Sans+Extra+Condensed&display=swap");
@import "util.scss";

body {
  background-color: $base;
  font-family: "Fira Code";
  margin: 0;
  padding: 0;

  @include noscrollbar;
}

#landing {
  height: 92.5vh;
  background-color: $mantle;
}

#landing-bottom {
  height: 0px;
  background-color: $mantle;
}

header {
  position: sticky;
  top: 0px;
  background-color: $mantle;
  width: 100vw;
  display: flex;

  * {
    transition-duration: 0.2s;
  }

  .title {
    height: 7.5vh;
    margin: 0.5vw;
    line-height: 7.5vh;
    text-align: center;
    font-family: "Fira Sans Extra Condensed";
    color: transparent;
    font-size: 5vh;
  }

  .nav {
    display: flex;
    align-items: center;
    margin-right: 0.5vw;

    a {
      text-decoration: none;
      color: transparent;
    }

    > div {
      @include noselect;
      background-color: transparent;
      height: 60%;
      margin-inline: 0.25vw;
      display: flex;
      justify-content: center;
      border-radius: 1vw;
      align-items: center;
      padding: 0.5vw;
      color: transparent;
      font-size: 2vh;
    }
  }

  &[data-landing="false"] {
    .title {
      color: $text;
    }

    .nav {
      a {
        color: $text;
      }
    }
  }


  .sep {
    flex-grow: 1;
  }
}

#about {
  height: 200vh;
}

@media only screen and (max-device-width: 768px),
  only screen and (max-width: 768px) {
  header {
    display: block;

    .nav {
      width: 100%;
      margin-right: unset;

      > div {
        margin-inline: unset;
        background-color: unset;
        font-size: 2vh;
        margin: auto;

        transform: unset;

        &:hover {
          transform: unset;
        }
      }
    }

		&[data-landing="false"] {

			.nav {

      background-color: $surface0;
			}
		}
  }
}
