@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fira+Sans+Extra+Condensed&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");
@import "theme.scss";
@import "util.scss";
@import "header.scss";
@import "landing.scss";
@import "about.scss";
@import "projects.scss";

body {
  background-color: $base;
  font-family: "Fira Code";
  margin: 0;
  padding: 0;
	color: $text;
	width: 100vw;
	overflow-x:hidden;

  @include noscrollbar;
}

* {
	transition: color 0.2s, background-color 0.2s;
}

section {
	min-height: 100vh;
}

.section-header {
	height: 7.5vh;
}


$mobile-screen-width: 1020px;

@media only screen and (max-device-width: $mobile-screen-width),
  only screen and (max-width: $mobile-screen-width) {
  @include header-mobile;
	@include landing-mobile;
	@include about-mobile;
	@include projects-mobile;
}
