@import "theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fira+Sans+Extra+Condensed&display=swap");
@import "util.scss";
@import "header.scss";

body {
  background-color: $base;
  font-family: "Fira Code";
  margin: 0;
  padding: 0;

  @include noscrollbar;
}

#landing {
  height: 100vh;
  background-color: $mantle;
  margin: 0;
}

#landing-bottom {
  height: 0;
  padding: 0;
  margin: 0;
  background-color: $mantle;
}


#about {
  height: 200vh;
}

@media only screen and (max-device-width: 768px),
  only screen and (max-width: 768px) {
		@include header-mobile;
}
