@use "../node_modules/@catppuccin/palette/scss/catppuccin";

@each $flavor, $colors in catppuccin.$palette {
  body[data-theme="#{$flavor}"] {
    @each $key, $color in $colors {
      --#{$key}: #{$color};
    }
  }
}

body[data-theme="loading"] {
  --rosewater: black;
  --flamingo: black;
  --pink: black;
  --mauve: black;
  --red: black;
  --maroon: black;
  --peach: black;
  --yellow: black;
  --green: black;
  --teal: black;
  --sky: black;
  --sapphire: black;
  --blue: black;
  --lavender: black;
  --text: black;
  --subtext1: black;
  --subtext0: black;
  --overlay2: black;
  --overlay1: black;
  --overlay0: black;
  --surface2: black;
  --surface1: black;
  --surface0: black;
  --base: black;
  --mantle: black;
  --crust: black;

  img {
    opacity: 0 !important;
  }

  hr {
    border: none;
  }
}

$rosewater: var(--rosewater);
$flamingo: var(--flamingo);
$pink: var(--pink);
$mauve: var(--mauve);
$red: var(--red);
$maroon: var(--maroon);
$peach: var(--peach);
$yellow: var(--yellow);
$green: var(--green);
$teal: var(--teal);
$sky: var(--sky);
$sapphire: var(--sapphire);
$blue: var(--blue);
$lavender: var(--lavender);
$text: var(--text);
$subtext1: var(--subtext1);
$subtext0: var(--subtext0);
$overlay2: var(--overlay2);
$overlay1: var(--overlay1);
$overlay0: var(--overlay0);
$surface2: var(--surface2);
$surface1: var(--surface1);
$surface0: var(--surface0);
$base: var(--base);
$mantle: var(--mantle);
$crust: var(--crust);
