.noselect {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin noscrollbar {
	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	scrollbar-width: None;
}

.space {
	flex-grow: 1;
}
