<link rel="stylesheet" href="/styles/header.css">

<header>
    <div class="title">
        <h1>Thomas Kwashnak</h1>
        <h3>LittleTealeaf</h3>
    </div>

    <div class="navigation">
        <button id="navHome">Home</button>
        <button id="navAboutMe">About Me</button>
        <button id="navProjects">Projects</button>
        <button id="navGithub">Github</button>
        <button id="navContactMe">Contact Me</button>
    </div>
    <script src="/javascript/navigation.js"></script>
</header>