.leftText {
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0, .3);
    margin: 0;
    margin-right: 20px;
    padding: 10px 23px 10px 0;
    font-size: 24px;
    font-weight: 500;
    vertical-align: top;
}

.verticalBar {
    display: inline-block;
    text-align: left;
    line-height: 49px;
    height: 49px;
    vertical-align: middle;
    
}

.rightText {
    font-size: 14px;
    font-weight: normal;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

.center {
    color: #000;    
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
}