.typewriter > span:last-child {
    animation: typewriter_cursor 1s infinite;
    color: black;
    margin: 0;
    font-family: monospace;
}


@keyframes typewriter_cursor {
    0% {
        opacity: 1.0;
    }

    45% {
        opacity: 0.0;
    }

    90% {
        opacity: 1.0;
    }
}

.scalebackground[data-image-stretch="horizontal"] {
    background-size: 100vw auto !important;
}

.scalebackground[data-image-stretch="vertical"] {
    background-size: auto 100vh !important;
}
