#console {
    position: fixed;
    top: 0px;
    height: 40vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition-duration: 0.5s;
    z-index: 100;
    color: #fff;
}

#console[data-hide] {
    height: 0vh;
}

#console * {
    font-family: monospace;
    font-size: 20px;
    transition-delay: 0.5s;
    color: #fff;
}

#console .response {
    padding: 0px 10px;
    margin-top: auto;
    position: absolute;
    bottom: 25px;
}

#console .response div {
    word-wrap: break-word;
}

#console .response div[data-type="error"] {
    color: rgb(189, 0, 0);
}

#console .prompt {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
}

#console .prompt span {
    padding: 0px 10px;
}

#console input {
    flex-grow: 1;
    border: 0px;
    background: rgba(0,0,0,0);
    color: #fff;
}

#console input:focus {
    outline: none;
}
