#home {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.8) 100%),
        url(../resources/images/background/home.webp) no-repeat;
    background-position: top center;
    background-size: auto 100vh;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    height: 100vh;
    width: 100%;
    text-align: center;
    color: #fff;
}

#home[data-ratio="horizontal"] {
    background-size: 100vw auto;
}

#home .helper {
    position: absolute;
    top: 45%;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

#home hr {
    width: 80%;
}

#home .content {
    margin: auto;
    font-family: monospace;
    width: fit-content;
    max-width: 80%;
}

#home .name {
    font-size: 50px;
    word-wrap: normal;
    font-family: monospace;
}

#home .subtitle {
    font-size: 20px;
    word-wrap: normal;
    font-family: monospace;
}

@media only screen and (min-width: 1920px) {
    #home .name {
        font-size: calc(100vw / 38.4)
    }

    #home .subtitle {
        font-size: calc(100vw / 96)
    }
}
