#home {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)),
    linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.8) 100%),
        url(../images/home.jpg) no-repeat top center;
    background-size: auto auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    color: #fff;
}


#home .content {
    position: absolute;
    top: 40%;
    width: 100%;
    font-family: monospace;
}

#home .content .name {
    font-size: 50px;
    word-wrap: normal;
}

#home hr {
    width: 400px;
    max-width: 80%;
}

#home .content .subtitle {
    font-size: 25px;
}

#home .content .subsubtitle {
    font-size: 20px;
    word-wrap: normal;
    max-width: 75%;
    margin: auto;
}

#home .cursor {
    color: white;
    animation: home_cursorblink 1s infinite;
    margin: 0px;
    font-family: monospace;
}

@keyframes home_cursorblink {
    0% {
        color: rgb(255, 255, 255, 1);
    }

    45% {
        color: rgb(255, 255, 255, 0);
    }

    90% {
        color: rgb(255, 255, 255, 1);
    }
}
