html::-webkit-scrollbar {
    display: none
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    margin: 0;
    background-color: #000000;
}

.typewriter .cursor {
    animation: typewriter_cursor 1s infinite;
    margin: 0;
    color: white;
    font-family: monospace;
}
@keyframes typewriter_cursor {
    0% {
        color: rgb(255, 255, 255, 1);
    }

    45% {
        color: rgb(255, 255, 255, 0);
    }

    90% {
        color: rgb(255, 255, 255, 1);
    }
}
