.component {
  background-color: #283334;
  color: white;
  box-shadow: 10px 30px 50px 30px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.content {
  display: flex;
  flex-wrap: wrap-reverse;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  word-wrap: normal;
  padding: 50px 0px 50px 0px;
  width: 90%;
  margin: auto;
}

.text {
  flex-grow: 2;
  padding: 0px 20px 0px 20px;
  width: 70%;

  h2 {
    width: 100%;
    text-align: center;
  }

  p {
    width: 95%;
    margin: auto;
    text-indent: 20px;
    line-height: 1.8;
    font-size: 18px;
    padding-top: 10px;
  }
}

.avatar {
  display: inline-block;
  padding: 10px 20px 20px 20xp;
  flex-grow: 0;
  margin: auto;

  * {
    margin: auto;
    box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.5);
  }
}
