
html::-webkit-scrollbar {
    display: none
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#home {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.8) 100%),
        url(./resources/images/background/home.webp) no-repeat;
    background-position: top center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    height: 100vh;
    width: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home > div {
    margin: auto;
}

#home hr {
    max-width: 60vw;
}

#home > div > div:first-child {
    font-size: 50px;
    font-family: 'Ubuntu', monospace;
}

#home .typewriter span {
    color: white;
    font-size: 20px;
    font-family: monospace;
}
