<link rel="stylesheet" href="/styles/header.css">
<script src="/javascript/header.js"></script>
<header>
    <div class="title">
        <h1>Thomas Kwashnak</h1>
        <h3>LittleTealeaf</h3>
    </div>

    <div class="navigation">
        <button id="navHome" onclick="navHome()">Home</button>
        <button id="navAboutMe" onclick="navAboutMe()">About Me</button>
        <button id="navProjects" onclick="navProjects()">Projects</button>
        <button id="navGithub" onclick="navGithub()">Github</button>
        <button id="navContactMe">Contact Me</button>
    </div>
</header>