html {
  --color-a: #F7F6DE;
  --color-b: #FA7E0A;
  --color-c: #8F0E0E;
  --color-d: #530C0C;
/* TODO: figure out how I managed to get rid of the edges? */
  background-color: var(--color-a);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
