.background {
    background-size: cover !important;
    height: 100vh;
    color: white;
    text-align: center;
    min-height: 500px;

    .content {
        text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
        display: inline-block;
        margin-top: 10%;
        width: 80%;
        font-size: 18px;
        font-family: sans-serif;


        h1 {
            font-size: 40px;
        }

        h3 {
            font-size: 20px;
        }

    }
}
