

.header {

    background-color: grey;
    transition-duration: 0.1s;
}

.header:not([data-scroll='0']) {
    background-color: transparent;
}


.navlink {
    --bottom-radius: 20%;

    width: fit-content;

    padding: 10px;

    background-color: green;
    border-bottom-left-radius: var(--bottom-radius);
    border-bottom-right-radius: var(--bottom-radius);

    cursor: pointer;
}