.header {
    --header-height: 50px;

    --round-corner: 20px;

    background-color: var(--color-b);
    height: var(--header-height);
    width: 100%;
    align-items: center;
    margin: 0px;
    padding: 0px;

}

.centered {
    position: fixed;
    width: 100%;
}

.navigation {
    width: 60%;
    display: flex;
    
}

.navlink {
    flex-grow: 9;
    text-decoration: none;
    transition-duration: 0.5s;
    text-align: center;
    height: fit-content;
    height: var(--header-height);
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(112, 13, 13);
    color: white;

    cursor: pointer;
}

.navlink:hover {
    flex-grow: 10;
    /* padding-bottom: 50px; */
    margin: 5px;
}