header {
    --bottom-radius: 20px  40%;

    width: 100%;
    top: 0;
    background-color: var(--color-b);

    border-bottom-left-radius: var(--bottom-radius);
    border-bottom-right-radius: var(--bottom-radius);
}

header .title {
    --bottom-radius: 50% 20px;

    text-align: center;
    background-color: var(--color-c);

    padding: 1%;
    font-size: 20px;

    border-bottom-left-radius: var(--bottom-radius);
    border-bottom-right-radius: var(--bottom-radius);
}

header .navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
}

header .navigation button {
    background-color: transparent;
    transition-duration: 0.25s;
    text-align: center;
    color: var(--color-text-b);
    border-radius: 5px;
    border-style: none;
    flex-grow: 7;
    cursor: pointer;
    font-size: 20px;
    margin: 0px 5px;
    padding: 10px 5px;
    border-radius: 20px;
}

header .navigation button:hover {
    flex-grow: 8;
    background-color: var(--color-d);
    color: var(--color-text-d);
}