.header {
    text-align: center;
    width: 100%;
    padding: 0px;
    background-color: var(--color-b);

    --border-round: 5% 20%;

    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4);

    
    border-bottom-left-radius: var(--border-round);
    border-bottom-right-radius: var(--border-round);

}

.header .title {
    background-color: var(--color-c);

    padding: 15px;

    
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4);


    --border-round: 40% 70%;

    color: white;
    font-family: cursive;

    border-bottom-left-radius: var(--border-round);
    border-bottom-right-radius: var(--border-round);
}

.navigation {
    display: flex;
    margin: 2px 5%;
    padding: 5px 0px;
    flex-wrap: wrap;
}

.navigation a {
    flex-grow: 9;

    transition-duration: 0.5s;

    text-decoration: none;
    color: black;

    background-color: var(--color-b);

    padding: 10px;

    margin: 5px 10px;
    

    border-radius: 20px;
}

.navigation a:hover, .navigation .active {
    flex-grow: 10;
    background-color: var(--color-c);
    color: white;
    
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4);
}