.container {
    color: #FFFFFF;
    transition-duration: 0.3s;
    transition: color .2s ease-in-out;

    :hover {
        color: #9e2711;
        transition: color .2s ease-in-out;
    }
}

.icon {
    font-size: xx-large
}
