.home {
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  text-align: center;
  background-size: cover !important;
  color: white;

  .content {
    display: inline-block;
    width: 85%;
    font-family: monospace;
    margin-top: 220px;
    margin-bottom: 100px;
    word-wrap: break-word;

    font-size: 70px;


    hr {
      width: 600px;
      border-color: rgba(150, 150, 150, 0.5);
      border: solid #e3e3e3;
      border-width: 1px 0 0;
      max-width: 100%;
      clear: both;
      height: 0;
    }

    p {
      font-size: 19px;
    }

    ul {
      list-style: none outside;
      margin: auto 0;
      padding-inline-start: 0px;

      li {
        display: inline-block;
        padding-inline: 5px;


        * {
          margin: 0;
          padding: 0;
          font-size: 35px;
        }
      }
    }
  }
}

.aboutme {
  background-color: #283334;
  color: white;
  box-shadow: 10px 30px 50px 30px rgba(0, 0, 0, 0.5);

  .content {
    display: flex;
    flex-wrap: wrap-reverse;
    word-wrap: normal;
    padding: 50px 0px 50px 0px;
    width: 90%;
    margin: auto;

    .text {
      flex-grow: 2;
      padding: 0px 20px 0px 20px;
      width: 70%;
      font-family: sans-serif;

      h2 {
        width: 100%;
        text-align: center;
      }

      p {
        width: 95%;
        margin: auto;
        text-indent: 20px;
        line-height: 1.8;
        font-size: 18px;
        padding-top: 10px;
      }
    }

    .avatar {
      display: inline-block;
      // min-width: 300px;
      padding: 10px 20px 20px 20xp;
      flex-grow: 0;
      margin: auto;

      * {
        margin: auto;

        box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.iconholder {
  color: #ffffff;
  transition: color 0.2s ease-in-out;

  :hover {
    color: #9e2711;
    transition: color 0.2s ease-in-out;
  }
}
