.markdown {

    table,
    th,
    td {
        border: 1px solid black;
    }

    th {
        padding: 10px;
    }

    td {
        padding: 5px;
    }

    pre {
        background-color: #161b22;
        width: fit-content;
        padding: 4px;
        border-width: 6px;
        border-color: #7e8186;
        border-radius: 5px;
        color: #c9d1d9;
    }

    ul li {
        display: list-item;
        list-style-type: disc;
        list-style-position: inside;
    }

    ol li {
        display: list-item;
        list-style-type: decimal;
        list-style-position: inside;
    }

    blockquote {
        background-color: #a3a3a3;
        padding: 10px 75px 10px 12px;
        width: fit-content;
        border-left: 6px solid #6d6a6a;
    }

    h1,
    h2,
    h3 {
        font-weight: bold;
    }

    h1 {
        font-size: x-large;
    }

    h2 {
        font-size: larger;
    }

    h3 {
        font-size: large;
    }

    p a {
        color: #0b5ada;
    }

    p::after {
        white-space: pre;
        content: "\A";
    }
}
