.header1 {
    font-size: 50px;
}

.section {
    margin: 10px;
    padding: 10px 100px;
    background-color: var(--color-a);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    width: fit-content;
    border-radius: 50px;
}