/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html {

    --color-a: #F7F6DE;
    --color-b: #FA7E0A;
    --color-c: #8F0E0E;
    --color-d: #a3290a;
  /* TODO: figure out how I managed to get rid of the edges? */
    background-color: var(--color-a);
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  .section {
    background-color: var(--color-d);
  }

  * {
    box-sizing: border-box;
  }
  